<!DOCTYPE html>
<html>
<head>
  <title>Recaptcha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br />
Code available here <a href='https://github.com/whatasunnyday/recaptcha_example'>https://github.com/whatasunnyday/recaptcha_example</a>.
</body>
</html>
